.toolbar-title{
  color: white;
}

.toolbar-background{
  background: color($colors, primary);
}

.button{
  // background: color($colors, secondary);
}

.block-btn{
  display: block;
  margin: 3vh auto;
  width: 80%;
}
